{"changed":true,"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","value":"# ----------------------\n# Flask\n# ----------------------\nflask\nFlask-WTF\nFlask-SQLAlchemy\nFlask-Migrate\npsycopg2\n# ----------------------\n# Production Server\n# ----------------------\ngunicorn\nFlask-SQLAlchemy==2.1","undoManager":{"mark":-2,"position":1,"stack":[[{"start":{"row":12,"column":0},"end":{"row":12,"column":21},"action":"insert","lines":["Flask-SQLAlchemy==2.1"],"id":37}],[{"start":{"row":12,"column":0},"end":{"row":12,"column":21},"action":"remove","lines":["Flask-SQLAlchemy==2.1"],"id":38}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":12,"column":21},"end":{"row":12,"column":21},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1495186333616}